body{
    background-color: #111;
    font-family: 'Courier New', monospace;
    display: block;
    margin: 10;
}

h1 {
	color: #fff;
}

h2, h3 {
    color: #090;
}

.command {
    background-color: #001e00;
    color: #00cc00;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

pre.code {
    background-color: #191919;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    color: #fff; /* TODO: syntax highlight according to the language*/
}

small, small a {
    font-size: 90%;
    color: #006600;
}

small a:hover{
	color: #009900;
}

.description {
	color: #aaa;
}

.separator {
    border-top: 1px dashed #004400;
    margin: 40px 0;
}

#jsonList{
	width: 50%;
	padding: 20px 0;
	margin: auto;
}

#jsonList a{
    text-decoration: none;
}

header{
	display: flex;
	align-items: center;
    justify-content: center;
}
.header {
	font-size: 20px;
	color:#fff !important;
	text-decoration: none;
	text-align: left;
}


/* New styles for the menu */
.menu {
    align-items: center;
    justify-content: center;
    display: flex;
     color: #00cc00;
}

.menu a {
    color: #00cc00;
    text-decoration: none;
	margin: 10px 20px 10px 20px;
}

.textbox-container {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 20px 0;
}

.custom-textbox {
    padding: 10px;
    margin: 0 40px 0 40px;
    border: 1px solid #00cc00;
    border-radius: 5px;
    background-color: #001f00;
    color: #00cc00;
    width: 30%;
}

.not-found{
	color: #a00;
}

.footer {
	margin: 40px 0 0 0;
    color: #aaa !important;
    text-align: center;
	display: block;
    width: 100%;
    justify-content: center;
    line-height:20px;
}

.footer a{
	color: #090;
}

h1 {
    position: relative;
}

h1::after {
    content: '\1F517';
    font-size: 0.8em;
    margin-left: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    right: 0px;
    opacity: 0;
    transition: opacity 0.1s ease;
}

h1:hover::after {
    opacity: 0.5;
}



/* Styles for syntax highlighting from highlight.js */



pre code.hljs{
    display:block;
    overflow-x:auto;
    padding:1em
}
code.hljs{
    padding:3px 5px
}
.hljs{
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #141014;
  border:solid 1px #050;
  padding:20px;
  padding-right:50px;
  display: inline-block;
  border-radius:5px;
}
.hljs ::selection,.hljs::selection{
    background-color:#515151;
    color:#ccc
}
.hljs-comment{
    color:#999
}
.hljs-tag{
    color:#b4b7b4
}
.hljs-operator,.hljs-punctuation,.hljs-subst{
    color:#ccc
}
.hljs-operator{
    opacity:.7
}
.hljs-bullet,.hljs-deletion,.hljs-name,.hljs-selector-tag,.hljs-template-variable,.hljs-variable{
    color:#f2777a
}
.hljs-attr,.hljs-link,.hljs-literal,.hljs-number,.hljs-symbol,.hljs-variable.constant_{
    color:#f99157
}
.hljs-class .hljs-title,.hljs-title,.hljs-title.class_{
    color:#fc6
}
.hljs-strong{
    font-weight:700;
    color:#fc6
}
.hljs-addition,.hljs-code,.hljs-string,.hljs-title.class_.inherited__{
    color:#9c9
}
.hljs-built_in,.hljs-doctag,.hljs-keyword.hljs-atrule,.hljs-quote,.hljs-regexp{
    color:#6cc
}
.hljs-attribute,.hljs-function .hljs-title,.hljs-section,.hljs-title.function_,.ruby .hljs-property{
    color:#69c
}
.diff .hljs-meta,.hljs-keyword,.hljs-template-tag,.hljs-type{
    color:#c9c
}
.hljs-emphasis{
    color:#c9c;
    font-style:italic
}
.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string{
    color:#a3685a
}
.hljs-meta .hljs-keyword,.hljs-meta-keyword{
    font-weight:700
}
 